<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>J'ai pris contact avec {{ contact }}</h3>
</div>
<div class="modal-body">

	<div class="center">
		{% include 'crm/priseContact/crm_prise_contact_form.html.twig' %}
	</div>

</div>