{% block submenu %}
    <ul class="nav nav-tabs">
 	 <li {% if app.request.pathInfo == "/crm/contact/liste"  %}class=" active"{% endif %}>
          <a href="{{ path('crm_contact_liste') }}" >Liste des contacts</a>
      </li>
      <li {% if app.request.pathInfo == "/crm/compte/liste"  %}class=" active"{% endif %}>
          <a href="{{ path('crm_compte_liste') }}" >Liste des organisations</a>
      </li>   
    </ul>
{% endblock %}
