{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Ajouter un suivi</h1>	
		</div>
	</div>

	{% include 'crm/impulsion/crm_impulsion_form.html.twig' %}

{% endblock %}