<div class="produit-collection row">
		<div class="col-md-1">
			{{ form_widget(form.date.day, {'attr' : {'class' : 'hidden'}}) }}
	 		{{ form_widget(form.date.month) }}
		</div>
		<div class="col-md-1">
			{{ form_widget(form.date.year) }}
		</div>
		<div class="col-md-2 montant">
				{{ form_widget(form.montantMonetaire) }}
		</div>
		<div class="col-md-1">
			<a href="#" class="btn btn-xs btn-danger remove-button"><span class="glyphicon glyphicon-minus"></span></a>
		</div>
		<div class="col-md-8"></div>
</div>
