{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Créer une opportunité</h1>	
		</div>
	</div>

	{% include 'crm/opportunite/crm_opportunite_form.html.twig' %}

{% endblock %}