{% extends "::base.html.twig" %}

{% block title %} 
	{{ parent() }} 
{% endblock %} 


{% block body %}
  	<div id="content_bundle" class="narrow">
  	
  		<div id="content" class="center">
  			<h1>Une erreur s'est produite</h1>
      		 <p>{{ exception.message  }}</p>
  		</div>
        
		<div class="center">
	        <img src="{{ asset('images/assets/lolcat_sorry.jpg') }}" alt="Chat" />
		</div>
        
    </div>

{% endblock %}
