{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Modifier une organisation</h1>	
		</div>
	</div>

	{% include 'crm/compte/crm_compte_form.html.twig' %}

{% endblock %}