{% extends 'crm/crm_layout.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% block additionalCSS %}
	{% endblock %}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Créer un formulaire web <span id="StepOrder">(1/4)</span></h1>	
		</div>
	</div>

	{% include 'crm/contactwebForm/crm_contactwebform_form.html.twig' %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript">
		$(document).ready( function () {    
			$(".input-compte").blur(function() {
				console.log('blur détecté');
				$.ajax({
					type: "POST",
					url: "/web/app_dev.php/crm/compte/get_coordonnees/"+$(this).val(),
					success: function(data) {
						$(".input-adresse").val(data.adresse);
						$(".input-codepostal").val(data.codePostal);
						$(".input-ville").val(data.ville);
						$(".input-region").val(data.region);
						$(".input-pays").val(data.pays);
						$(".input-telephone").val(data.telephone);
						$(".input-fax").val(data.fax);
					},
					error: function(jqXHR, textStatus, errorThrown) {
						console.log(jqXHR.status);
						console.log(textStatus);
						console.log(errorThrown);
					},
				});
			});
		});
	</script>

{% endblock %}
{% block additionalModals %}
	<div id="ModalAlert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalAlert" aria-hidden="true" data-focus-on="input:first">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					 <h3 id="myModalAlert">Terminé</h3>

				</div>
				<div class="modal-body">
					<p><span class="glyphicon glyphicon glyphicon-ok"> </span> Organisation ajoutée avec succès</p>
				</div>
				<div class="modal-footer">
					<button class="btn-primary btn" id="okAlert" data-dismiss="modal" aria-hidden="true">ok</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
