{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
{% endblock %}


{% block body %}
<div class="row full-height-minus-userbar">
		<div class="col-md-1"></div>
		<div class="col-md-10 wrap-content wrap-content-admin">
	     <div class="titre titre-admin">
					<h1>Administration</h1>
			 </div>

	    	{% block content %}
	    	{% endblock %}
	  </div>
		<div class="col-md-1"></div>
</div>
{% endblock %}
