{% extends 'compta/compta_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Créer une note de frais</h1>
		</div>
	</div>

	{% include 'ndf/compta_note_frais_form.html.twig' %}

{% endblock %}
