{% extends 'ndf/ndf_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Valider une note de frais</h1>
		</div>
	</div>

	<div class="row">


	    <div class="col-md-12">
	    	<p>Etes-vous sur de vouloir valider cette note de frais ? Vous ne pourrez plus la modifier.</p>
	    	{{ form_start(form) }}
 				{{ form_widget(form) }}

	   	 	 <a class="btn" href="{{ path('ndf_liste') }}">
       			<span class="glyphicon glyphicon-chevron-left"></span>Annuler
    		</a>
	   	 	<input type="submit" value="Valider" class="btn btn-success" />
	   	 	{{ form_end(form) }}
	    </div>
    </div>

{% endblock %}
