{% extends 'compta/compta_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Modifier un compte bancaire</h1>	
		</div>
	</div>
	
	{% include 'compta/compte_bancaire/compta_compte_bancaire_form.html.twig' %}
	
{% endblock %}