{% block submenu %}
    <ul class="nav nav-tabs">
      <li {% if app.request.pathInfo == "/crm/devis/liste"  %} class="active" {% endif %}>
          <a href="{{ path('crm_devis_liste') }}">Devis en cours</a>
      </li>
      <li {% if app.request.pathInfo == "/crm/devis/liste/WON"  %} class="active" {% endif %}>
            <a href="{{ path('crm_devis_liste', {'etat' : 'WON'}) }}" >Devis gagnés</a>
      </li>
      <li {% if app.request.pathInfo == "/crm/devis/liste/LOST"  %} class="active" {% endif %}>
            <a href="{{ path('crm_devis_liste', {'etat' : 'LOST'}) }}" >Devis perdus</a>
      </li>
    </ul>
{% endblock %}
