<div class="modal-content">
	<div class="modal-body center">

		<h1>Vos comptes ont été importés avec succès !</h1>	
		<p><a class="btn btn-success" href="{{ path('compta_activer_reports_a_nouveau') }}">Continuer</a></p>
			
	</div>
</div>