{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block side_bar_before_nav %}
<ul class="sidebar-menu">
	<li>
		<a href="{{ path('homepage') }}">Accueil</a>
	</li>
</ul>
{% endblock %}

{% block side_bar_after_nav %}

{% endblock %}