<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Export des factures pour Evoliz</h3>
</div>
<div class="modal-body">

	<p>Télécharger une archive zip comportant 2 fichiers : </p>
	<ul>
		<li>1_evoliz_contacts.xlsx : Les contacts à importer dans Evoliz (nouveaux contacts en orange)</li>
		<li>2_evoliz_factures.xlsx : Les factures à importer dans Evoliz</li>
	</ul>

	<div class="center">
		{{ form(form, {'action': path('crm_facture_export_evoliz'), 'attr': {'id': 'form_export_evoliz'}} ) }}
	</div>
	
	
</div>

<script type="text/javascript">
	$("#form_export_evoliz").submit(function(e){
		e.preventDefault();

		$.ajax({
			type: "POST",
			url : "{{ path('crm_facture_export_evoliz') }}", 
			data: $("#form_export_evoliz").serialize(),
			success: function(data) {
				window.location = "{{ app.request.getSchemeAndHttpHost() }}"+"/web/files/crm/facture/"+data;
				$('#modal').modal('hide');
			}

		});

	});
</script>