{% extends 'admin/admin_layout.html.twig' %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Ajouter un utilisateur à {{ company }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  	{% include 'admin/utilisateurs/admin_utilisateurs_form.html.twig' %}
  </div>
</div>

{% endblock %}
