body{
	background: rgba(242, 131, 92, 0.12) !important;
}

.wrap-content-admin h1{
	color: #FC5162;
	font-weight: bold;
}

.titre-admin{
	background: #FC5162;
}

.titre-admin:before{
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 100px;
    height: 100px;
    background-image: url('../../../../web/images/assets/user.png');
    background-size: cover;
    top: -11px;
    left: 27px;
}
