/*
gris foncé = #ddd;

couleurs

commercial, rouge = #FC5162;
communiquer, rouge orange = #FB7155
comptabilité jaune orange = #F2835C;
recruter jaune = #F7AA54;
*/

@CHARSET "ISO-8859-1";
html, body {
    height: 100%;
}

h1 {
    font-size: 28px;
}

.xxl {
    font-size: 5em;
}

.xl {
    font-size: 1.5em;
}

.l {
    font-size: 1.2em;
}

.s {
    font-size: 0.8em;
}

a, a:hover, a:active {
    text-decoration: none;
}

.full-height {
    height: 100%;
}

.full-height-minus-userbar{
	  height: calc(100% - 30px);
}

.spacer-top{
    margin-top: 20px;
}

.visibility-hidden {
    visibility: hidden;
}

img.icon{
  width: 30px;
}

.green {
    color: #4cae4c;
}

.red {
    color: #d9534f;
}

.orange{
    color: #ec741b;
}

a.help, .clickable {
    cursor: pointer;
}

.center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-bottom {
    vertical-align: bottom;
}

a.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}

#login_form {
    margin-top: 50px;
}

.fos_user_resetting_reset {
    width: 300px;
    margin: auto;
}

.mceStatusbar {
    display: none !important;
}

td.no-border {
    border: 0 !important;
}

body.modal-open .dateInput {
    z-index: 1151 !important;
}

.ui-datepicker {
    z-index: 1151 !important;
}

.form-errors .help-block {
    color: #a94442;
}

.ui-multiselect-optgroup-label {
	text-align: left !important;
	background-color: #fff;
}

.ui-multiselect-checkboxes label{
	font-weight: normal !important;
}

.ui-multiselect-checkboxes label input{
	margin-right: 5px !important;
}


.glyphicon-refresh-animate {
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
 }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/**
* FILTERS
*/

.dataTables_length, .DTTT_container, .dataTables_filter, .dataTables_dateRange {
    padding: 20px 50px;
    float: right;
    background: #F1F1F1;
    width: 300px;
		min-height: 80px;
}

.table.dataTable{
	margin-top: 0 !important;
}

.dataTables_wrapper{
	background: #F1F1F1;
	padding-top: 20px !important;
  margin-top: 20px;
}

div.dataTables_info, div.dataTables_paginate{
	background-color: #FFF;
}

#filter label {
    font-weight: 100;
}

#filter h5 {
    font-weight: 700;
}

.dataTables_dateRange {
    float: left;
}

select {
    box-shadow: none;
    background-color: rgb(221, 221, 221);
    background-image: none;
    border: none;
}


/**
* TABLES
*/

.dataTables_wrapper {
    padding-top: 50px;
    paddgin-bottom: 80px;
}

tr {
    background: #ddd;
}

table.table-transparent tr {
    background: #FFF;
}

tr th {
    height: 30px;
}

.tableau-scrollable {
    overflow: scroll;
}

.tableau-scrollable:before {
    content: '';
    height: 120%;
    width: 3px;
    background: red;
}


/*settings*/

.wrap-settings-table {
    padding: 40px;
}

.wrap-settings-table textarea {
    height: 200px;
}

.wrap-scrollable-table {
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
    background: #DBD5D6;
}

.wrap-scrollable-table-footer {
    background: #DBD5D6;
}

.wrap-scrollable-table-footer .btn {
    margin-top: 20px;
}


/**
* MENU
**/

#menu-secondary {
    width: 85px;
    height: 62px;
    padding-left: 13px;
    position: relative;
    left: -15px;
    background: #F1F1F1;
}

#menu-secondary:hover img {
    opacity: 0.5;
    transform: scale(.9);
    position: relative;
    top: 5px;
    left: 0px transition: all ease-in 0.2s;
}

#menu-secondary-main {
    z-index: 200;
}

#menu-secondary-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0px;
    width: 242px;
    background: #F1F1F1;
    padding: 9px;
    z-index: 100;
    -webkit-box-shadow: 10px 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 10px 6px 12px rgba(0, 0, 0, .175);
    transition: all ease-in 0.2s;
}

#menu-secondary-hover img {
    width: 50px;
    transition: all ease-in 0.2s;
}

#menu-secondary-main img:hover, #menu-secondary-hover .active img:hover {
    opacity: 1;
    top: 0;
    transition: all ease-in 0.2s;
}

#menu-secondary-hover .inactive img {
    -webkit-filter: grayscale(1);
    opacity: 0.5;
}

#menu-secondary:hover #menu-secondary-hover {
    opacity: 1;
    left: 83px;
    transition: all ease-in 0.3s;
}

.logo-top {
    width: 250px;
    padding: 15px;
}


/**
* USERBAR
**/

.userbar-small {
    background: none;
    height: 40px;
}

#userbar {
    background-color: #FFF;
    height: 60px;
}

#userbar .glyphicon {
    margin: 5px;
    color: black;
}

#userbar p {
    color: black;
    font-size: 0.8em;
    padding-top: 3px;
    height: 20px;
}

#userbar #login-info {
    text-align: right;
    line-height: 2;
    font-weight: bold;
    font-size: 1em;
}

#userbar p a {
    color: #b0dbe9;
}

#userbar #dLabel img {
    border-radius: 40px;
    border: solid #444141 0px;
    transition: all ease-in 0.5s;
    margin: 3px;
}

#userbar #dLabel img:hover {
    border: solid #444141 3px;
    cursor: pointer;
    margin: Opx;
}

.center {
    text-align: center;
}


/**
* LEFT COLUMN FOR MENU
**/

.aside {
    background-color: #444141;
    color: #FFFFFF;
    padding: 0;
    width: 100px;
}

.aside ul {
    list-style-type: none;
    padding: 0;
}

.aside ul li {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    vertical-align: middle;
    padding-left: 30px;
}

.aside ul li a {
    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
}

.aside ul li a span:hover {
    color: red;
}

.aside ul li:hover {
    background: #3E3535;
}

.aside ul li a span {
    display: inline-block;
    vertical-align: middle;
}

.aside ul .current {
    background-color: #FFFFFF;
    width: 100%;
}

.aside ul .current:hover {
    position: relative;
    left: 0px;
}


/**
* FORMS
**/

.filtre {
    background: #F1F1F1;
}

.typeahead-list {
    margin-top: -12px !important;
}

.typeahead-list li a:hover {
    background: #fdf5ce !important;
    border: 1px solid #fbd850 !important;
    color: #eb8f00 !important;
    font-weight: bold !important;
}

.checkbox label {
    font-weight: bold;
}

.ui-autocomplete {
    list-style-type: none;
    border: 1px solid #EEEEEE;
    width: 100%;
    padding: 5px;
    max-width: 500px;
    background-color: #FFFFFF;
}

.input-xxl, .textarea-xxl {
    width: 500px !important;
}

select optgroup {
    font-weight: bold;
}

input[type="file"].center, select.center {
    margin: auto;
}

label input[type="checkbox"][disabled] {
    color: grey;
    font-weight: normal;
}


/**
* MENU COMMON
**/

.page-index-alert-box {
    background: #FC5162;
    padding: 6px;
    width: 100px;
    color: white;
    position: absolute;
    top: -114px;
    right: 300px;
    line-height: 1.8em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    tansition: all ease-in 0.5s;
}

.page-index-alert-box span {
    font-size: 2em;
    line-height: 0.9em;
}

.page-index-alert-box-hover {
    display: none;
}


/**
* PAGES COMMON
**/

.bread-crumb-back {
    margin-top: 20px;
}

.bread-crumb-back a {
    color: grey;
}

#crm_index a:hover span, #compta_index a:hover span {
    position: relative;
    top: -15px;
    transition: all ease 0.4s;
}

#crm_index p, #compta_index p {
    margin-bottom: 40px;
}

.wrap-content {
    background: #FFF;
    padding: 40px;
    padding-top: 45px;
}

.text-info {
    color: #444141;
    background: #F1F1F1;
    padding: 2% 10%;
}

.text-accueil-outil {
    padding: 50px;
}

.titre {
    position: absolute;
    top: -35px;
    left: 40px;
    width: auto;
    padding: 10px 50px;
    font-family: 'Orbitron', sans-serif;
    color: #FFF;
    border-radius: 10px;
}

.titre h1 {
    margin-left: 100px;
    color: #FFF !important;
}

.titre-compta {
    background: #F2835C;
}

.titre-compta:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 108px;
    height: 100px;
    background-image: url('../../../../web/images/assets/comptabilite.png');
    background-size: cover;
    top: -11px;
    left: 27px;
}

.titre-crm {
    background: #FC5162;
}

.titre-crm:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 108px;
    height: 100px;
    background-image: url('../../../../web/images/assets/commercial.png');
    background-size: cover;
    top: -11px;
    left: 27px;
}

.sub-menu {
    margin-bottom: 30px;
}

.sub-menu a {
    color: grey;
    padding: 0 1em;
    font-weight: normal;
}

.wrap-content-commercial .sub-menu a:hover, .wrap-content-commercial h1 {
    color: #FC5162;
    font-weight: bold;
}

.wrap-content-compta .sub-menu a:hover, .wrap-content-compta h1 {
    color: #F2835C;
    font-weight: bold;
}

.sub-menu .current {
    pointer-events: none;
    opacity: .3;
    color: grey !important;
    font-weight: normal !important;
}

.aside ul li {
    position: relative;
}

.tooltoop {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 30px;
    width: 0px;
    height: 0;
    background: #444141;
    /*z-index: 50;*/
    z-index: 99999999999999999999999999999999;
    padding: 5px 10px;
    min-width: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tooltoop:before {
    content: "";
    position: absolute;
    left: -7px;
    top: 6px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #444141;
}

.current .tooltoop {
    color: #FFF;
}

.aside ul li:hover .tooltoop {
    width: auto;
    height: auto;
    top: 15px;
    left: 75px;
    opacity: 1;
    transition: all ease 0.4s;
}


/* TODO a mis en relatif pour pouvoir afficher les tooltoop */

.menu-secondary-hover {
    display: block;
}

a {
    position: relative;
}


/* TEST
.tooltoop-bottom{
	opacity: 0;
    position: absolute;
    top: 0px;
    left: -20%;
    width:300px;
    height: 0;
    color:#FFF;
    background: #444141;
    z-index: 50;
    padding: 5px 10px;
    min-width: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
}

.tooltoop-bottom:before {
	content:"";
	position: absolute;
    left: 50%;
    top:-8px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom:8px solid #444141;
}

a:hover>.tooltoop-bottom{
   width:auto;
   height: auto;
   top: 50px;
   opacity: 1;
   transition: all ease 0.4s;
}
*/


/*
* CUSTOM BOOTSTRAP BOUTTONS
*/

.btn {
    border: none;
}

.btn-danger {
    border-bottom: 5px solid #712121;
}

.btn-success {
    border-bottom: 5px solid #135F13;
}

.btn-info {
    border-bottom: 5px solid #0F6680;
}

.btn-warning {
    border-bottom: 5px solid #C58324;
}

.btn-primary {
    border-bottom: 5px solid #104777;
}

.btn-red {
    background: #FC5162;
    border-bottom: 5px solid #DA2F40;
}

.btn:active {
    border: none;
}

.toggle.btn-success {
    border: 1px solid #4cae4c;
}

.toggle.btn-danger {
    border: 1px solid #ac2925;
}


/**
 * JQUERY VALIDATION ERROR
*/

span.error::before {
    content: "(";
}

span.error::after {
    content: ")";
}

span.error {
    margin-left: 10px;
    color: red;
}


/**
 * FIXED TOP
*/

.fixed-top {
    position: fixed;
    background: #FFF;
    width: 80%;
    top: 0px;
    z-index: 50;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


/****************/


/* blink styles */


/****************/

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}


/**
* TOOLS NAMES
**/

.jaimelecommercial {
    color: #fc5162;
    font-weight: bold;
}

.jaimelacompta {
    color: #F2835C;
    font-weight: bold;
}


/**
*	SETTINGS
**/

.settings-table {
    width: 100%;
    margin-bottom: 20px;
}

.settings-table th {
    border: 1px solid #EEE;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.settings-table th a {
    position: absolute;
    right: 5%;
    color: #FFF;
}

.settings-table th .popover-content, .settings-table th .popover-title {
    color: #000;
}

.settings-table tbody {
    border: 1px solid #EEE;
}

.settings-table tbody td {
    text-align: center;
    padding: 10px;
    background: #FFF;
}

.settings-table tbody .liste-settings-valeur td {
    padding: 5px;
    border-bottom: 1px solid #EEE;
}


/**
*	LISTS
**/

ul.checklist {
    list-style-type: none;
    padding: 10;
}

ul.checklist li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}
