body{
	background: rgba(242, 131, 92, 0.12) !important;
}

#compta_index{
	text-align: center;
}

#compta_index a{
	color: #F2835C;
}

/*
.aside{
	background-color: #00A7D6;
}
*/

.aside ul .current a{
	color: #F2835C;
}

.aside ul li:hover a span{
    color: #F2835C;
}

.tooltoop{
    background: #F2835C;
}

.tooltoop:before{
    border-right:8px solid #F2835C;
}

.col-compte{
	width: 12%;
	display: inline-block;
	vertical-align: top;
}

.col-compte .header{
	background-color: #00A7D6;
	color: #FFF;
	text-align: center;
	padding: 5px;
	height: 100px;
}

.col-compte .panel{
	margin-top: 10px;
	padding: 3px;
}


.col-compte .panel .panel-heading{
	min-height: 140px;
	font-weight: bold;
	padding: 10px 5px;
	text-align: center;
}

.col-compte .panel .panel-heading .panel-title .label{
	font-size: 1em;
	display: block;
	width: 25px;
	margin: auto;
}

.col-compte .panel .panel-heading .panel-title{
	font-size: 0.8em;
}

.col-compte .panel .btn-details-wrapper{
	text-align: center;
	margin-top: 5px;
}

.col-compte .panel .panel-collapse{
	font-size: 0.8em;
}

#settings_table{
	border: 1px solid #DDDDDD;
	width: 80%;
}

#settings_table tr{
	border: 1px solid #DDDDDD;
}

#settings_table tr:nth-child(2n+1){
	background-color: #EEEEEE;
}

#settings_table td, #settings_table th{
	padding: 5px;
}

#settings_table thead tr th{
	background-color: #00A7D6;
	color : #FFF;
}


.settings-texte{
	border: 1px solid #dddddd;
	padding-bottom: 10px;
}

.settings-texte .valeur{
	background-color: #eeeeee;
	padding: 10px;
}

.settings-texte .form-group, .settings-texte textarea{
	width: 100% !important;
}

.settings-image img{
	max-width: 150px;
	max-height: 150px;
}


.devis-sous-total, .devis-remise, .devis-taxe, .devis-taxe-percent, .devis-total-ht, .devis-total-ttc, .facture-sous-total, .facture-remise, .facture-taxe, .facture-taxe-percent, .facture-total-ht, .facture-total-ttc{
	width: 100px !important;
}

#devis-calcul-wrapper, #facture-calcul-wrapper{
	width: 880px;
	text-align: right;
}

#devis-calcul-wrapper .form-group label, #devis-calcul-wrapper .form-group input, #devis-taxe-wrapper .form-group label, #devis-taxe-wrapper .form-group select, #facture-calcul-wrapper .form-group label, #facture-calcul-wrapper .form-group input, #facture-taxe-wrapper .form-group label, #facture-taxe-wrapper .form-group select{
	display: inline-block;
	vertical-align: middle;
}

#devis-calcul-wrapper label, #facture-calcul-wrapper label{
	margin-right: 5px;
}

#devis-taxe-wrapper .form-group, #facture-taxe-wrapper .form-group{
	display: inline-block;
	vertical-align: bottom;
}

.produit-collection-voir table tr:nth-child(2){
	border-bottom: 1px solid #DDDDDD;
}

.produit-collection-voir table td{
	text-align: center;
}

.produit-collection-voir table td.produit-textarea{
	text-align: left;
	font-style: italic;
}

.devis-montant, .facture-montant{
	width: 100px;
	display: inline-block;
}

#devis-taxe-wrapper .devis-montant, #facture-taxe-wrapper .facture-montant{
	width: 50px;
}

.devis-label, .facture-label{
	display: inline-block;
	font-weight: bold;
	width: 500px;
}

.fc-taxe-hidden{
	font-style: italic;
	color: #EC741B;
}

.contact-view-table tr td:first-child{
	font-weight: bold;
	width: 150px;
}

.contact-view-table tr td{
	padding: 5px;
	vertical-align: top;
}

.contact-view-table{
	width: 100%;
}

.contact-view-table ul{
	list-style-type: none;
	padding-left: 0;
}

.produits{
	list-style-type: none;
	padding-left: 15px;
}

.produit-collection{
	margin-bottom: 10px;
}

.produit-collection table th{
	text-align: center;
}

.produit-collection table td{
	 padding: 5px;
}

.produit-collection table .produit-input-type{
	width: 100px;
}

.produit-collection table .produit-input-nom{
	width: 250px;
}

.produit-collection table .produit-input-number{
	width: 100px;
}

 .produit-collection table.produit-input-button{
	width: 50px;
}

.produit-collection table .cheque-input-banque{
	width: 250px;
}

.produit-collection table .cheque-input-num{
	width: 250px;
}

.produit-collection table .cheque-input-pieces{
	width: 500px;
}

.produit-collection table .cheque-input-montant{
	width: 100px;
}

#table-releve .libelle{
	width: 25%;
}


#table-releve .pointer{
	width: 25px;
}

/*PLAN COMPTABLE*/
.wrap-plan-comptable .nav-tabs>li{
	width:12.5%;
	display: inline-block;
	min-height: 112px;
}

.wrap-plan-comptable .nav-tabs>li a{
	font-size: 12px;
}

.wrap-plan-comptable .nav-tabs>li a strong{
	font-size: 2em;
}

.wrap-plan-comptable .nav-tabs>li.active,
.wrap-plan-comptable .nav-tabs>li.active a,
.wrap-plan-comptable .nav-tabs>li.active:focus,
.wrap-plan-comptable .nav-tabs>li.active:focus a,
.wrap-plan-comptable .nav-tabs>li.active:hover a,
.wrap-plan-comptable .nav-tabs>li a:hover,
.wrap-plan-comptable .nav-tabs>li:hover{
    border: none;
    background:#ddd;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

.wrap-plan-comptable .tab-pane{
	  border: none;
    background:#ddd;
}

.wrap-plan-comptable .tab-content>.active{
	padding:10px;
}

.wrap-plan-comptable .panel-default{
	border-color: #ddd;
    margin:10px;
}

.wrap-plan-comptable .panel-heading:hover{
	cursor: pointer;
	font-weight: bold;
}

.wrap-plan-comptable .panel-heading .btn-details-souscat {
	float: right;
	margin-right: 50px;
}

.wrap-plan-comptable .btn-souskey-controls-wrapper,
.wrap-plan-comptable .btn-details-wrapper{
	float: right;
}

.wrap-plan-comptable .label-warning{
	background:#F2835C;
}

.thick-border-top{
	border-top: 2px solid #555 !important;
}

.thick-border-bottom th{
	border-bottom: 2px solid #555 !important;
}

.thick-border-left{
	border-left: 2px solid #555 !important;
}

td.accurate, th.poste{
	border-right: 3px solid #ccc !important;
}

th.mois, th.accurate {
	border-right: 3px solid #ccc !important;
	text-align: center;
}

 th.prev, th.predictif{
 	text-align: center;
 }

#table-rapport-treso tr{
	background-color: #FFF;
}

#table-rapport-treso tr.ligne-sous-total{
	background-color: #eee;
	font-weight: bold;
}

#table-rapport-treso tr.ligne-total{
	background-color: #dcdcdc;
	font-weight: bold;
	border-top: 3px solid #ccc;
}

#table-rapport-treso tr.ligne-total td.accurate{
	border-left: 2px solid #ccc;
}

#table-rapport-treso td{
	min-width: 100px;
	max-width: 100px;
	text-align: right;
}

.settings-table th{
	background: #F2835C;
}

#depense-calcul-wrapper .form-group label, #depense-calcul-wrapper .form-group input, #depense-taxe-wrapper .form-group label, #depense-taxe-wrapper .form-group select{
	display: inline-block;
	vertical-align: middle;
}

.depense-sous-total, .depense-remise, .depense-taxe, .depense-taxe-percent, .depense-total-ht, .depense-total-ttc{
	width: 100px !important;
}

#depense-calcul-wrapper{
	width: 840px;
	text-align: right;
}

#depense-calcul-wrapper label{
	margin-right: 5px;
}

/*remises de chèque*/
#table_remise_cheques_list td:nth-child(4), #table_remise_cheques_list th:nth-child(4){
	text-align: right;
	padding-right: 10px;
}

#remise-cheque-total-wrapper label{
	display: inline-block;
	font-weight: bold;
	margin-left: 180px;
	margin-right: 5px;
}

#remise-cheque-total-wrapper input{
	width: 100px;
	display: inline-block;
}

.cheque-input-pieces ul{
	text-align: center;
	list-style-type: none;
}

.tableau-bord-wrapper tr{
	background-color: #FFF;
}

.tableau-bord-wrapper tr.ligne-sous-total{
	background-color: #eee;
	font-weight: bold;
	border-top: 3px solid #ccc;
}

.tableau-bord-wrapper tr.ligne-total{
	background-color: #dcdcdc;
	font-weight: bold;
	border-top: 3px solid #ccc;
}

.tableau-bord-wrapper tr.ligne-total td.accurate{
	border-left: 2px solid #ccc;
}

.tableau-bord-wrapper td{
	min-width: 100px;
	max-width: 100px;
	text-align: right;
}

.tableau-bord-wrapper th.poste-titre{
	text-transform: uppercase;
	color: #F2835C;
}

.tableau-bord-wrapper th.sous-poste-titre{
	text-transform: uppercase;
}

.tableau-bord-wrapper th.detail{
	font-weight: normal;
	text-align: right;
	font-style: italic;
	font-size: 0.8em;
}

#table-grand-livre tr{
	background-color: #FFF;
}
