@font-face {
	font-family: 'gothic';
	src: url('../fonts/gothic.eot');
	src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}

body, p, a, td, strong, h1, h2, h3, h4{
	font-family: 'gothic';
}

h3, h4{
	font-weight: bold;
}

strong{
	font-size: 1.2em;
}

#logo{
	max-width: 200px;
	max-height: 200px;
}

#tampon{
	max-width: 200px;
	max-height: 200px;
	margin-top: 10px; 
}

#coordonnees_table, #produits_table{
	width: 100%;
}

#coordonnees_table tr{
	background-color: #FFFFFF;
}

#coordonnees_table tr td:first-child{
	width: 49%;
}

#coordonnees_table tr td:nth-child(2){
	text-align: left;
	padding-left: 50px;
	vertical-align: middle;
}

#destinataire{
	margin-bottom: 10px;
	text-align: left;
	padding-left: 490px;
}

#titre{
	text-align: center;
	margin-bottom: 10px;
}

#produits_table tr th:first-child{
	text-align: left;
}

#produits_table tr:nth-child(even) td{
	padding: 5px;	
}

#produits_table tr:nth-child(even) td{
	text-align: left;
	font-style: italic;
}

#produits_table tr:nth-child(even) td{
	border-bottom: 2px #CCCCCC dashed;
}

#produits_table tr:last-child td{
	border: none;
}	

#produits_table{
	border-bottom: 2px solid #CCCCCC;
}
.produit-input-text{
	text-align: left;
}

.produit-input-text strong{
	font-size: 1em;
}

.produit-input-number{
	width: 100px;
}

td.produit-input-number{
	text-align: right;
}

#totaux_table{
	text-align: right;
	width: 100%;
}

#totaux_table tr td:last-child{
	width: 100px;	
}

#devis-ttc, #facture-ttc{
	font-weight: bold;	
}

#cgv{
	color: #7f7f83;
	text-align: center;
	font-size: 0.9em;
	font-style: italic;
}

#bon-pour-accord{
	text-align: center;
	border: solid 2px #000000;
	padding-bottom: 100px;
	margin-bottom: 20px;
}

#remerciement{
	margin-top: 20px;
	margin-bottom: 20px;
}

#pub img{
	max-height: 100px;
	max-width: 15%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

#pub p{
	display: inline-block;
	vertical-align: middle;
	font-style: italic;
	color: #A03488;
	width: 80%;
}

#footer{
	text-align: center;
	font-size: 0.7em;
	color: #7f7f83;
}

#apercu-courrier{
	border: 1px solid #000;
	margin-bottom: 20px;
	padding: 10px;
}