/**
* FRONT PAGE MENU

Colors

commercial (rouge) = #FC5162
communiquer (orange rouge) = #FB7155
comptabilité (orange jaune) = #FC5162
recruter (jaune) = #FA8C4A

**/

.wrap-index{
	background: #f2f2f2;
	height: 100%;
}

.wrap-index-head{
	margin: 20px auto;
	width: 60%;
    text-align: center;
    background: white;
    padding: 30px;
}

.wrap-index-alert-box{
    background: #FC5162;
    padding: 6px;
    width: 100px;
    color: white;
    position: absolute;
    top: 0px;
    left: 11px;
    line-height: 1.8em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    tansition: all ease-in 0.5s;
}
.wrap-index-alert-box span{	
    font-size: 2em;
    line-height: 0.9em;
}

.wrap-index-alert-box-hover{
 display:none;
}
/*
.wrap-index-alert-box:hover{
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
tansition: all ease-in 0.5s;
}
.wrap-index-alert-box:hover .wrap-index-alert-box-normal{
 display:none;
}
.wrap-index-alert-box:hover .wrap-index-alert-box-hover{
 display:block;
}
*/
.main_menu{
	list-style-type: none;
	margin-top: 40px;
}

.main_menu li{
	display: inline-block;	
	margin: 20px;
	width: 200px;
	height: 120px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}
.main_menu li a{
	color:#444141;
	text-decoration: none;
	transition : all ease-in 0.5s;
}

.main_menu li.active{
	cursor: pointer;
}

.main_menu li img{
	width: 120px;
	height: auto;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	position: relative;
	bottom: 0px;
	transition : all ease 0.5s;
}

.main_menu li.active:hover img{
	position: relative;
	bottom: 20px;
	transition : all ease-in 0.5s;
	.merge-right.r187
}

.main_menu li#commercial:hover a{
	color: #FC5162;
	font-weight: bold;
	transition : all ease-in 0.5s;
}

.main_menu li#compta:hover a{
	color: #FA8C4A;
	font-weight: bold;
	transition : all ease-in 0.5s;
}

.main_menu li.inactive img{
	-webkit-filter: grayscale(1);
	opacity : 0.5;
}

.buy_credits {
    margin:         20px auto;
    width:          50%;
    background:     white;
    padding:        30px;
}

.buy_credits h4 {
    margin:         15px auto;
}

.buy_credits label {
    font-weight:    normal;
    margin:         5px 10px;
}

.buy_credits .buttons {
    margin-top:         80px;
    padding-bottom:     55px;
    background:         url('../../../../web/images/payment.png') transparent no-repeat bottom;
}


.credit_prices li {
    list-style: none;
}

.buy_credits #amount_error {
    color: red;
    font-weight: bold;
    margin-left: 180px;
    display: none;
}