@font-face {
	font-family: 'gothic';
	src: url('../fonts/gothic.eot');
	src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}

body, p, a, td, strong, h1, h2, h3, h4{
	font-family: 'gothic';
}

h3, h4{
	font-weight: bold;
}

strong{
	font-size: 1.2em;
}

.break{
	display: block;
	clear: both;
	page-break-after: always;
}

#logo{
	max-width: 200px;
	max-height: 200px;
}

#tampon{
	max-width: 200px;
	max-height: 200px;
	margin-top: 10px;
}


#titre{
	text-align: center;
	margin-bottom: 10px;
}

#recus_table{
	width: 100%;
}

#recus_table th, #recus_table td{
	padding: 5px;
	border: 1px #CCC solid;
}

#recus_table td.number {
	text-align: right;
}

#recus_table tr.total td {
	font-weight: bold;
}

#recus_table td.no-border{
	border: 0;
}

#signatures_table{
		width: 100%;
		margin-top: 20px;
}

#signatures_table tr td{
	border: 1px #CCC solid;
	height: 100px;
	vertical-align: top;
	padding: 5px;
	font-weight: bold;
	width: 50%;
}
