{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Campagnes</h1>	 
		</div>
	</div>
		
	<div class="row">
		<div class="col-md-12">
		    <p>
		    	<a href="{{ path('emailing_campagne_ajouter') }}" class="btn btn-success">
		    		<span class="glyphicon glyphicon-plus"></span> Ajouter
		    	</a>
		    	<a href="#" class="btn btn-danger">
		    		<span class="glyphicon glyphicon-trash"></span> Supprimer
		    	</a>
		    </p>

<script>
$(document).ready(function() {

$("* [rel='tooltip']").tooltip({
   html: true, 
   placement: 'top'
});

});
</script>
<style>
#table_contact_list td{ vertical-align: top; }
</style>

	    </div>
    </div>
    
	    <div class="row">
	    	<div class="col-md-12">
			    <table id="table_contact_list" class="table table-bordered table-striped">    
			    	<thead>        
			    		<tr>            
			    			<th>Nom</th>            
			    			<th>Date</th>
			    			<th>Destinataires</th>  
			    			<th>Actions</th>         
			    		</tr>    
			    	</thead>    
			    	
			    </table>
			</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready( function () {    
			$('#table_contact_list').DataTable({
					"dom": 'T<"clear">lfrtip',
			        "oTableTools": {
			        	"sSwfPath": "/web/lib/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
			            "aButtons": [
			                {
			                    "sExtends": "csv",
			                    "sButtonText": "Excel",
			                    "mColumns": [ 0, 1, 2, 3 ],
			                    "sFileName": "contacts.csv"
			                },
			                {
			                    "sExtends": "pdf",
			                    "sButtonText": "PDF",
			                    "mColumns": [ 0, 1, 2, 3 ],
			                    "sFileName": "campagnes.pdf",
			                    "sTitle": "campagne"
			                },
			               
			            ]
			        },
					"language" : {                
						"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"            
					},
					"responsive": true,
					"processing": true,
				    "serverSide": true,
				    "ajax":{
		                url :"{{ path('emailing_campagne_liste_ajax') }}", // json datasource
		                type: "post",  // method  , by default get
		            },
		            "columns": [
	                   { "data": "nomCampagne" },
	                   { "data": "dateCreation" },
	                   { "data": "objetEmail" },
	                   { "data": "listeContact" },
	                ],
					fnDrawCallback: function () {
					  $( 'a', this.fnGetNodes() ).tooltip( {
						"delay": 0,
						"track": true,
						"fade": 250,
						"tooltipClass": 'btn',
					  } );
					},
					fnInitComplete: function () {
					  $( 'a', this.fnGetNodes() ).tooltip( {
						"delay": 0,
						"track": true,
						"fade": 250,
						"tooltipClass": 'btn',
					  } );
					},
	                "columnDefs": [
	                               {
	                                   "render": function ( data, type, row ) {
	                                       var s = '<a href="voir/'+row['id']+'">' ;
											if(row['nomCampagne']){
												s+= row['nomCampagne']+' ';
											}

	                                       s+= data+'</a>';
	                                       return s;
	                                   },
	                                   "targets": 0
	                               },
	                               {
									   "render": function ( data, type, row ) {
										   var d = data.date;
										   var arr = d.split("-");
										   var y = arr[0];
										   var m = arr[1];
										   var arrj = arr[2].split(" ");
										   var j = arrj[0];
										   var res = j+"/"+m+"/"+y;  
										   return res;
									   },
	                                   "targets": 1
	                               },
	                               {
	                                   // The `data` parameter refers to the data for the cell (defined by the
	                                   // `data` option, which defaults to the column being worked with, in
	                                   // this case `data: 0`.
	                                   "render": function ( data, type, row ) {
	                                      var s="";
											if(row['listeContact']){
												s+= row['listeContact'];
											}											
	                                      return s;
	                                   },
	                                   "targets": 2
	                               },
	                               {
	                                   // The `data` parameter refers to the data for the cell (defined by the
	                                   // `data` option, which defaults to the column being worked with, in
	                                   // this case `data: 0`.
	                                   "render": function ( data, type, row ) {
	                                        var s = "";
											if(!row['envoyee']){
											  s+="<a href=\"editer/"+row['id']+"\" class=\"btn btn-xs btn-warning\" ​data-toggle=\"tooltip\" title=\"Editer\"><span class=\"glyphicon glyphicon-pencil\"></span></a>";
											}
	                                       return "<a href=\"voir/"+row['id']+"\" class=\"btn btn-xs btn-info\" ​data-toggle=\"tooltip\" title=\"Voir\"><span class=\"glyphicon glyphicon-eye-open\"></span></a>" +" "+ s 
	                                    	 +" "+
	                                    	"<a href=\"supprimer/"+row['id']+"\" class=\"btn btn-xs btn-danger\" ​data-toggle=\"tooltip\" title=\"Supprimer\"><span class=\"glyphicon glyphicon-trash\"></span></a>";
	                                   },
	                                   "targets": 3
	                               },
	                               { "visible": false,  "targets": [ 'id' ] }
	                           ]
			});
		});
	</script>
{% endblock %}
