{% extends 'base.html.twig' %}

{% block body %}


    <p>{{ token["expires"] }}</p>

    <p>Bonjour Séverin tu as jusqu'à {{ date }} pour faire tes trucs sur Mautic</p>

    <p> Have Fun</p>

{% endblock %}