{% block submenu %}
    <div class="sub-menu">
        <a href="{{ path('compta_facture_liste') }}" {% if app.request.pathInfo == "/compta/facture/liste"  %} class=" current" {% endif %}>Liste des factures
        </a>
        -
        <a href="{{ path('compta_facture_liste_retard') }}" {% if app.request.pathInfo == "/compta/facture/liste/retard"  %} class=" current" {% endif %}>Factures en retard</a>
        -
        <a href="{{ path('compta_facture_liste_echeance') }}" {% if app.request.pathInfo == "/compta/facture/liste/echeance"  %} class=" current" {% endif %}>Factures arrivant à échéance</a>
        -
        <a href="{{ path('compta_journal_ventes_index') }}" {% if app.request.pathInfo == "/compta/journal-ventes"  %} class=" current" {% endif %}>Journal des ventes</a>
    </div>
{% endblock %}
