<div class="modal-content">
	<div class="modal-body center">
		<h1>Vos dépenses ont bien été importées !</h1>	
		<p><a class="btn btn-success" href="{{ path('compta_activer_importer_facture') }}">Continuer</a></p>
			
	</div>
</div>