<div class="modal-content">
	<div class="modal-body center">
		<h1>Vos factures ont bien été importées !</h1>	
		<p><a class="btn btn-success" href="{{ path('compta_facture_choisir', {'initialisation' : true}) }}">Continuer</a></p>
			
	</div>
</div>