<div class="modal-content">
	<div class="modal-body center">
		<h1>Vos reports à nouveau ont bien été importés !</h1>	
		<p><a class="btn btn-success" href="{{ path('compta_activer_import_apres_report') }}">Continuer</a></p>
			
	</div>
</div>