{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/homepage.css') }}" type="text/css" />
{% endblock %}

{% block body %}
	<div class="row wrap-index">
		<div class="col-md-12 center">
			<div class="wrap-index-head">
				<img alt="Logo de J'aime la compta" src="{{ asset('images/assets/comptabilite.png') }}" style="width: 200px;" />
			
				<h1>Un peu de compta analytique ?</h1>
				<p>Aidez <span class="jaimelacompta">J'aime la compta</span> à écrire votre journal de vente !</p>
				<p><strong>Liez vos types de produits à vos comptes comptables</strong></p>
				
					{{ form(form) }}
				
			</div>
		</div>
	</div>
{% endblock %}