{% block submenu %}
    <ul class="nav nav-tabs">
      <li {% if app.request.pathInfo == "/compta/avoir/CLIENT"  %} class="active" {% endif %}>
          <a href="{{ path('compta_avoir_liste', {'type' : 'CLIENT'}) }}">Avoirs clients</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/avoir/FOURNISSEUR"  %} class="active" {% endif %}>
            <a href="{{ path('compta_avoir_liste', {'type' : 'FOURNISSEUR'}) }}">Avoirs fournisseurs</a>
      </li>
    </ul>
{% endblock %}
